* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  color: blueviolet;  
}

logo, img {
  width: 90px;
}

.contact {
  grid-template-columns: 1;
  display:grid;
  align-items: stretch;
}

/* Header Styles */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(50, 137, 112);
    height: 90px;
}


.fitness-logo {
    height: 90px;
    width: 90px;
}
.fitness-logo:hover, .fitness-logo:active {
  opacity: 0.8;
}


.main-navbar {
   display: flex;
   align-items: center;
   justify-content: center;
}

.link-container {
  display: flex;
  justify-content: space-around;
  margin-left: 120px;
  gap: 80px;
}

.main-navbar__link {
  text-decoration: none;
  background-color: rgb(113, 183, 163);
  border: 2px solid black;
  padding: 6px 16px;
  border-radius: 8px;
}
.main-navbar__link:hover,
.main-navbar__link:active {
  /* possible box shadow, some fx */
}

.header-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

#search-bar {
  /* make our own search bar */
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#user {
  width: 30px;
  height: 30px;
  margin-right: 12px;
}
#cart {
  width: 30px;
  height: 30px;
  margin-right: 8px;
}

.main-navbar__link {
    display: flex;
    margin-right: 10px;
    color:black
     
}
/* 
.link-container {
    display: flex;
    justify-content: center; 
    margin-right: 300px;
    justify-items: space-between;
    font-size: 1.5rem;
} */

/* This is the css for the products page */

.products-containers {
    display: grid;
    
}

/* No need for a duplicate selector on the same css file */
/* header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(50, 137, 112);
} */

nav {
   display: flex;
   align-items: center;
}

/* .main-navbar__link {
    display: flex;
    margin-right: 10px;
    color:black 
} */

/* 
.link-container {
    display: flex;
    justify-content: center; 
    margin-right: 300px;
    justify-items: space-between;
    font-size: 1.5rem;
} */

/* This is the css for the products page*/

.products-containers {
    display: grid;
    
}

h4{
    font-size: 30px;
    color: black;
    display: flex;   
}


/* footer */
.footer {
  background-color: rgb(50, 137, 112);
  width: 100%;
  height: 90px;
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__info {
  text-decoration: underline;
  letter-spacing: 2px;
  font-size: 1rem;
}