* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  color: blueviolet;  
}

   

.contact {
  grid-template-columns: 1;
  display:grid;
  align-items: stretch;
}

/* Header Styles */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(50, 137, 112);
    height: 90px;
}


.fitness-logo {
    width: 90px;
}
.fitness-logo:hover, .fitness-logo:active {
  opacity: 0.8;
}


.main-navbar {
   display: flex;
   align-items: center;
   justify-content: center;
}

.main-navbar__link {
    display: flex;
    margin-right: 10px;
    color:black
     
}

.link-container {
    display: flex;
    justify-content: center; 
    margin-right: 300px;
    justify-items: space-between;
    font-size: 1.5rem;
}

/* This is the css for the products page */

.products-containers {
    display: grid;
    
}

/* No need for a duplicate selector on the same css file */
/* header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(50, 137, 112);
} */

logo, img {
    height: 90px;
    width: 90px;
}


nav {
   display: flex;
   align-items: center;
}

.main-navbar__link {
    display: flex;
    margin-right: 10px;
    color:black
     
}

.link-container {
    display: flex;
    justify-content: center; 
    margin-right: 300px;
    justify-items: space-between;
    font-size: 1.5rem;
}

/* This is the css for the products page*/

.products-containers {
    display: grid;
    
}

.fitness-logo{
    font-size: 60px;
    color: aquamarine;
    font-style: inherit;
    text-align: center;
}

h4{
    font-size: 30px;
    color: black;
    display: flex;   
}
